<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<style>
    body,
    html {
        margin: 0;
        padding: 0;
    }

    .el-table .warning-row {
        background: oldlace;
    }

    .el-table .success-row {
        background: #f0f9eb;
    }

    .red {
        color: red;
    }

    .bg {
        width: 100%;
    }

    .title {
        color: gold !important;
        text-align: center;
        -webkit-text-stroke: 1px #f69300;
        font-family: serif;
        font-weight: 700;
    }

    p {
        padding: 0;
        margin: 0;
    }

    .box .text p {
        margin: 5px 0;
    }

    .box .table {
        margin-bottom: 30px;
    }

    .el-card {
        margin-bottom: 10px;
    }

    @media (max-width: 767px) {
        .box {
            width: 90%;
            padding-left: 5%;
            /* font-size: 1rem; */
            padding-bottom: 100px;
            margin-top: -1rem;
        }

        .title {
            position: absolute;
            top: 1rem;
            width: 100%;
            font-size: 2rem;
            letter-spacing: 5px;
        }

        .el-card__header {
            font-size: 14px;
            padding: 10px 20px;
        }

        .el-card__body,
        .el-main {
            padding: 10px 20px;
            font-size: 14px;
        }
    }

    @media (min-width: 1200px) {
        .box {
            width: 80%;
            padding-left: 10%;
            padding-bottom: 100px;
            margin-top: -4rem;
        }

        .title {
            position: absolute;
            top: 1rem;
            width: 100%;
            font-size: 7rem;
            letter-spacing: 10px;
        }
    }


    .require {
        font-size: 1.5rem;
        font-weight: 700;
        font-family: serif;
    }

    .tableTitle {
        text-align: center;
        padding: 15px 0;
        font-family: serif;
        font-weight: 700;
    }
</style>

<body>
    <div id="app">
        <img class="bg" src="./1.jpg" alt="">
        <h1 class="title">Pcrows代理推广计划</h1>
        <div class="box">
            <div class="text">
                <p class="red require">代理要求:</p>
                <p>1. 注册量每周不低于<span class="red">100</span>个。</p>
                <p>2. 充值金额每周不低于<span class="red">10000</span>元。</p>
                <p>
                    3. 严禁互相洗中国玩家，发现直接收回代理权限。
                    不能以任何形式去洗玩家，在明知对方已经在游戏内情况下，只要给了对方下载链接，有被实锤直接收回代理权限，不讲情面。
                </p>
                <!--  <p class="red">
                    分成计算规则：初始充值按30%分成计算，如下周达不到要求，则下下周充值按25%结算，达到要求之后在下一个计算周期恢复到30%分成。(转账对应礼包代理价格给总代之后，发送玩家账号和角色名进行充值。)
                </p> -->

                <p>
                    代理采用加币结算模式，分成计算规则：</br>
                    &nbsp;单次上币<span class="red">≤2000</span>按<span class="red">25%</span>计算，</br>
                    &nbsp;单次上币<span class="red">≤5000</span>按<span class="red">27%</span>计算，</br>
                    &nbsp;单次上币<span class="red">≥10000</span> 按<span class="red">30%</span>计算。
                </p>
                <p>
                    由于每个礼包售价的代币比例不同，<span class="red">实际分成会高于规定的分成比例</span>，并且在平均比例9.26的前提下我们<span
                        class="red">再让利1个点给代理</span>。</br>
                </p>
            </div>
            <div class="tableTitle">代币比例计算表（计算公式: 售价/代币）</div>
            <el-table class="table" :data="coinsData" border style="width: 100%" show-summary :fit="true" sum-text=" "
                :row-class-name="tableRowClassName" :summary-method="getSummaries">
                <el-table-column prop="package" label="代币" min-width="20%">
                </el-table-column>
                <el-table-column prop="price" label="礼包售价 (元)" min-width="35%">
                </el-table-column>
                <el-table-column label="代币比例 (售价/代币)" min-width="50%">
                    <template slot-scope="scope">
                        {{ scope.row.price / scope.row.package}}
                    </template>
                </el-table-column>
            </el-table>
            <!-- 
            <p>
                代理计算公式：成本/分成比例/代币比例=实际获得代币</br>
                例:
                2000(成本) / 0.75(分成25%) / 8.26(代币比例) ≈ 323(到手代币)</br>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;323代币出售礼包可获得：323*9.26(平均比例) = 2991(实际到手RMB)</br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销售利润率 = 利润/销售收入× 100%= (2991-2000) / 2991 ≈ 33%</br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;成本利润率 = 利润/成本× 100% = (2991-2000) / 2000 ≈ 49.5%</br>
                </br>
                5000(成本) / 0.73(分成27%) / 8.26(代币比例) ≈ 830(到手代币)</br>
                830代币可充值礼包：830*9.26(平均比例) = 7686(实际到手RMB)</br>
                销售利润率 = 利润/销售收入× 100%= (7686-5000) / 7686 ≈ 34.9%</br>
                成本利润率 = 利润/成本× 100% = (7686-5000) / 5000 ≈ 53.7%</br>
                </br>
                10000(成本) / 0.7(分成30%) / 8.26(代币比例) ≈ 1730(到手代币)</br>
                1730代币可充值礼包：1730*9.26(平均比例) = 16020(实际到手RMB)</br>
                销售利润率 = 利润/销售收入× 100%= (16020-10000) / 16020 ≈ 37.6%</br>
                成本利润率 = 利润/成本× 100% = (16020-10000) / 10000 ≈ 60.2%</br>
            </p> -->


            <div class="tableTitle">实际利润计算表</div>

            <el-table class="table" :data="profitData" border style="width: 100%" :fit="true"
                :row-class-name="tableRowClassName">
                <el-table-column prop="principal" label="成本" min-width="">
                </el-table-column>
                <el-table-column prop="rate" label="分成(%)" min-width="">
                    <template slot-scope="scope">
                        {{scope.row.rate}}%
                    </template>
                </el-table-column>
                <el-table-column label="到手代币" min-width="">
                    <template slot-scope="scope">
                        {{Math.ceil(scope.row.principal / (1-scope.row.rate/100) / 8.26 )}}
                    </template>
                </el-table-column>
                <el-table-column label="变现金额" min-width="">
                    <template slot-scope="scope">
                        {{ (Math.ceil(scope.row.principal / (1-scope.row.rate/100) / 8.26)*9.26).toFixed(0)}}
                    </template>
                </el-table-column>
                <el-table-column label="销售利润率(%)" min-width="">
                    <template slot-scope="scope">
                        {{ (((Math.ceil(scope.row.principal / (1-scope.row.rate/100) / 8.26 *9.26) -
                        scope.row.principal) / Math.ceil(scope.row.principal / (1-scope.row.rate/100) / 8.26
                        *9.26))*100).toFixed(1)}}%
                    </template>
                </el-table-column>
                <el-table-column label="成本利润率(%)" min-width="">
                    <template slot-scope="scope">
                        {{ (((Math.ceil(scope.row.principal / (1-scope.row.rate/100) / 8.26 *9.26) -
                        scope.row.principal) / scope.row.principal)*100).toFixed(1) }}%
                    </template>
                </el-table-column>
            </el-table>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span class="red">到手代币计算公式：成本/分成比例/代币比例</span>
                </div>
                <p>代币比例让利1个点 9.26-1=8.26</p>
                <p>示例如下：</p>
                <div v-for="item in profitData">
                    <p>{{item.principal }}/(1-{{item.rate/100}})/8.26 ≈
                        {{Math.ceil(item.principal/(1-item.rate/100)/8.26)}}
                    </p>
                </div>
            </el-card>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span class="red">变现金额计算公式：代币*平均比例</span>
                </div>
                <p>示例如下：</p>
                <div v-for="item in profitData">
                    <p>{{Math.ceil(item.principal/(1-item.rate/100)/8.26)}}*9.26 ≈
                        {{Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)}}
                    </p>
                </div>
            </el-card>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span class="red">销售利润率计算公式：利润/销售收入*100%</span>
                </div>
                <p>示例如下：</p>
                <div v-for="item in profitData">
                    <p>({{Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)}}-{{item.principal}})/{{Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)}}*100%
                        ≈
                        {{ ((Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)-
                        item.principal)/Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)*100).toFixed(1)}}%
                    </p>
                </div>
            </el-card>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span class="red">成本利润率计算公式：利润/成本*100%</span>
                </div>
                <p>示例如下：</p>
                <div v-for="item in profitData">
                    <p>({{Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)}}-{{item.principal}})/{{item.principal}}*100%
                        ≈
                        {{ ((Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)-
                        item.principal)/item.principal*100).toFixed(1)}}%
                    </p>
                </div>
            </el-card>

            <el-collapse v-model="activeNames">
                <el-collapse-item title="到手代币计算公式：成本/分成比例/代币比例" name="1">
                    （代币比例让利1个点 9.26-1=8.26）
                    <div v-for="item in profitData">
                        <p>{{item.principal }}/(1-{{item.rate/100}})/8.26 ≈
                            {{Math.ceil(item.principal/(1-item.rate/100)/8.26)}}
                        </p>
                    </div>
                </el-collapse-item>
                <el-collapse-item title="变现金额计算公式：代币*平均比例" name="2">
                    <div v-for="item in profitData">
                        <p>{{Math.ceil(item.principal/(1-item.rate/100)/8.26)}}*9.26 ≈
                            {{Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)}}
                        </p>
                    </div>
                </el-collapse-item>
                <el-collapse-item title="销售利润率计算公式：利润/销售收入*100%" name="3">
                    <div v-for="item in profitData">
                        <p>({{Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)}}-{{item.principal}})/{{Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)}}*100%
                            ≈
                            {{ ((Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)-
                            item.principal)/Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)*100).toFixed(1)}}%
                        </p>
                    </div>
                </el-collapse-item>
                <el-collapse-item title="成本利润率计算公式：利润/成本*100%" name="4">
                    <div v-for="item in profitData">
                        <p>({{Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)}}-{{item.principal}})/{{item.principal}}*100%
                            ≈
                            {{ ((Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)-
                            item.principal)/item.principal*100).toFixed(1)}}%
                        </p>
                    </div>
                </el-collapse-item>
            </el-collapse>
            <!--    <p>
                <span class="red">到手代币计算公式：成本/分成比例/代币比例（代币比例让利1个点 9.26-1=8.26）</span></br>
                例:
            </p>
            <div v-for="item in profitData">
                <p>{{item.principal }}/(1-{{item.rate/100}})/8.26 ≈ {{Math.ceil(item.principal/(1-item.rate/100)/8.26)}}
                </p>
            </div>
            <p>
                <span class="red">变现金额计算公式：代币*平均比例</span></br>
                例:
            </p>
            <div v-for="item in profitData">
                <p>{{Math.ceil(item.principal/(1-item.rate/100)/8.26)}}*9.26 ≈
                    {{Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)}}
                </p>
            </div>
            <p>
                <span class="red">销售利润率计算公式：利润/销售收入*100%</span></br>
                例:
            </p>
            <div v-for="item in profitData">
                <p>({{Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)}}-{{item.principal}})/{{Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)}}*100%
                    ≈
                    {{ ((Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)-
                    item.principal)/Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)*100).toFixed(1)}}%
                </p>
            </div>

            <p>
                <span class="red">成本利润率计算公式：利润/成本*100%</span></br>
                例:
            </p>
            <div v-for="item in profitData">
                <p>({{Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)}}-{{item.principal}})/{{item.principal}}*100%
                    ≈
                    {{ ((Math.ceil(Math.ceil(item.principal/(1-item.rate/100)/8.26)*9.26)-
                    item.principal)/item.principal*100).toFixed(1)}}%
                </p>
            </div> -->
        </div>
    </div>
</body>
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                coinsData: [
                    {
                        package: 10,
                        price: 98,
                    },
                    {
                        package: 50,
                        price: 498,
                    }, {
                        package: 100,
                        price: 998,
                    }, {
                        package: 200,
                        price: 1888,
                    }, {
                        package: 500,
                        price: 4188,
                    }, {
                        package: 1000,
                        price: 7998,
                    }
                ],
                profitData: [
                    /* {
                        principal: 1000,
                        rate: 20
                    }, */
                    {
                        principal: 2000,
                        rate: 25
                    },
                    {
                        principal: 5000,
                        rate: 27
                    },
                    {
                        principal: 10000,
                        rate: 30
                    },
                ],
                activeNames: ['1', '2', '3', '4']
            }
        },

        methods: {
            tableRowClassName({ row, rowIndex }) {
                if (rowIndex % 2 == 0) {
                    return 'success-row';
                } else {
                    return '';
                }
            },
            getSummaries(param) {
                const { columns, data } = param;
                const sums = [];
                columns.forEach((column, index) => {
                    if (index == 2) {
                        let sum = data.reduce((accumulator, currentValue) => {
                            return accumulator + currentValue.price / currentValue.package;
                        }, 0);
                        sums[2] = '平均比例: ' + (sum / data.length).toFixed(2)
                    }
                });

                return sums;
            },


            // 25%分成代理利润
            profit25(row) {
                return (row.price * 0.25).toFixed(2)
            },

            // 30%分成代理利润
            profit30(row) {
                return (row.price * 0.3).toFixed(2)
            },

            // 25%代理拿礼包价格
            price25(row) {
                return (row.price * 0.75).toFixed(2)
            },
            // 30%代理拿礼包价格
            price30(row) {
                return (row.price * 0.7).toFixed(2)
            },


        },
    })
</script>

</html>